@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eea8cf;
  font-family: "Mali";
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin: 0;
  color: white;
}

h1 {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

hr {
  border-bottom: 6px dashed white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#subtitle-seperator {
  margin-bottom: 10px;
}

.iofipic {
  display: inline-block;
  text-align: center;
}

.iofipic img {
  width: 200px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Optional spacing around the image */
}

.counter {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#obisa-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  color: #e48fbe;
  margin: 1rem;
  padding: 20px 50px;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#obisa-button:focus {
  outline: none;
}

#obisa-button:active {
  transform: scale(0.8);
  transform: translateY(4px);
  box-shadow: 0 0 10px;
}

#footer {
  background-color: white;
  color: black;
  padding: 2em;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: bolder;
}

.footer-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
}

#yt-footer-icon {
  color: #f01d1d;
}

#github-footer-icon {
  color: #000000;
}

.footer-icon-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 6px;
}

#footer-text-container {
  display: inline-flex;
}

#footer-text {
  margin: 0 10px;
}
